<% layout('layouts/boilerplate.ejs') %> 

<h2>All events</h2>
<div class="row">
    <% for (event of events) { %>
        <div class="col-3">
        <div class="card mb-5">
            <img src="<%=event.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=event.name%></h5>
                <p class="card-text"><b>Datum konání: </b><%= event.startDate.toLocaleDateString('cs-CZ') %></p>
                <p class="card-text"><b>Místo konání: </b><%= event.address.city %> </p>
                <a href="/events/<%=event._id%>" class="btn btn-primary">Event details</a>
            </div>
        </div>
        </div>
    <% } %> 
</div>